[powershell]
# (string) Directory in which ansible will keep async job information.
# Before Ansible 2.8, this was set to C(remote_tmp + "\.ansible_async").
async_dir=%USERPROFILE%\.ansible_async

# (string) Temporary directory to use on targets when copying files to the host.
remote_tmp=%TEMP%


[defaults]
# (list) list of users to be expected to have admin privileges. This is used by the controller to determine how to share temporary files between the remote user and the become user.
admin_users=root, toor

# (string) Directory in which ansible will keep async job information.
async_dir=~/.ansible_async

# (string) Checked when Ansible needs to execute a module as a different user.
# If setfacl and chown both fail and do not let the different user access the module's files, they will be chgrp'd to this group.
# In order for this to work, the remote_user and become_user must share a common group and this setting must be set to that group.
common_remote_group=

# (string) Temporary directory to use on targets when executing tasks.
remote_tmp=~/.ansible/tmp

# (list) List of valid system temporary directories on the managed machine for Ansible to validate O(remote_tmp) against, when specific permissions are needed. These must be world readable, writable, and executable. This list should only contain directories which the system administrator has pre-created with the proper ownership and permissions otherwise security issues can arise.
# When O(remote_tmp) is required to be a system temp dir and it does not match any in the list, the first one from the list will be used instead.
system_tmpdirs=/var/tmp, /tmp

# (boolean) This makes the temporary files created on the machine world-readable and will issue a warning instead of failing the task.
# It is useful when becoming an unprivileged user.
allow_world_readable_tmpfiles=False

